/*Styles for niklasfolke.github.io*/
body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif, Arial, Helvetica, ;
    text-transform: uppercase;
    font-weight: normal;
  }

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("https://raw.githubusercontent.com/niklasfolke/niklasfolke.github.io/master/hero.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-area: hero-image;
}
.hero-text {
    color:white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    
}

.content1{
    grid-area: content1;
    position: relative;
    text-align: center;
    color: black;
}
.content2{
    grid-area: content2;
    position: relative;
    text-align: center;
    color: black;
}
.content3{
    grid-area: content3;
    position: relative;
    text-align: center;
    color: black;
}

.main-wrapper {
    height: 100%;
    width: 100%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr min-content min-content;
    grid-template-areas: 
    "hero-image" 
    "content1" 
    "content2" 
    "content3";

}

.wrapper2x1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
}

.wrapper2x1Image {
    background-color: white;
}

.wrapper2x1Text {
    background-color: white;
    text-align: center;
    margin: auto;
}